CiberElectrik/web/WEB-INF/wsdl/localhost_51143/Reniec.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuscarCiudadano">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarCiudadanoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarCiudadanoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarCiudadanoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarCiudadano" />
  </wsdl:message>
  <wsdl:message name="BuscarCiudadanoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarCiudadanoResponse" />
  </wsdl:message>
  <wsdl:portType name="ReniecSoap">
    <wsdl:operation name="BuscarCiudadano">
      <wsdl:input message="tns:BuscarCiudadanoSoapIn" />
      <wsdl:output message="tns:BuscarCiudadanoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReniecSoap" type="tns:ReniecSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarCiudadano">
      <soap:operation soapAction="http://tempuri.org/BuscarCiudadano" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReniecSoap12" type="tns:ReniecSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarCiudadano">
      <soap12:operation soapAction="http://tempuri.org/BuscarCiudadano" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reniec">
    <wsdl:port name="ReniecSoap" binding="tns:ReniecSoap">
      <soap:address location="http://localhost:51143/Reniec.asmx" />
    </wsdl:port>
    <wsdl:port name="ReniecSoap12" binding="tns:ReniecSoap12">
      <soap12:address location="http://localhost:51143/Reniec.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>